# Ignore node_modules folder
node_modules/

# Optional: Ignore environment files
.env

# Optional: Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Ignore build folders
dist/
build/
