*{
    box-sizing: border-box;
    margin: 0;

}
html, body{
    display: flex;
    height: 100dvh;
    width: 100%;
    background-color: #F6FAFD;
    font-family: 'Inter', sans-serif;
}
#content-container{
    display: flex;
    height: 100%;
    width: 100%;
}
#login-form{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: fit-content;
        width: fit-content;
        padding: 30px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 0 35px 5px rgba(0,0,0,0.1);
        align-items: center;

        input {
            border: 1px solid #838383;
            font-size: 20px;
            padding: 15px;
            background: white;
            width: 400px;
            height: 50px;
            border-radius: 10px;
        }
        label{
            color: #0F8A69;
            font-size: 30px;
            font-weight: bold;
        }
        span{
            color: #938787;
            font-size: 16px;
        }
        button{
            width: 100%;
            background-color: #0F8A69;
            outline: none;
            border: none;
            color: white;
            padding: 15px;
            border-radius: 10px;
            height: 50px;
            font-size: 16px;
            font-weight: bold;
        }

        a{
            color: #0F8A69;
            font-size: medium;
            text-decoration: none;
        }
        .error-message{
            width: 100%;
            color: red;
            font-size: 16px;
        }
    }
}